127.0.0.1     localhost        localhost.localdomain

# When DNS records are updated in the DNS server, remove these entries.
# host configuration file
{{var_group.node_01_ip_address}} {{var_group.node_01_short_name}} {{var_group.node_01_fqdn}}
{{var_group.node_02_ip_address}} {{var_group.node_02_short_name}} {{var_group.node_02_fqdn}} 
{{var_group.node_03_ip_address}} {{var_group.node_03_short_name}} {{var_group.node_03_fqdn}}