# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

ui = true
disable_mlock = true

## listener configuration
listener "tcp" {
   address = "0.0.0.0:8200"
   cluster_addr = "0.0.0.0:8201"
   tls_disable = false
   tls_cert_file = "/opt/vault/tls/tls.crt"
   tls_key_file = "/opt/vault/tls/tls.key"
   tls_client_ca_file = "/opt/vault/tls/tls_ca.pem"
   tls_disable=false
}

storage "raft" {

   node_id              = "{{var_group.node_03_short_name}}"
   path                 = "/opt/vault/data"

   retry_join {

      leader_api_addr   = "https://{{var_group.node_01_fqdn}}:8200"
   
   }
   
   retry_join {

      leader_api_addr   = "https://{{var_group.node_02_fqdn}}:8200"
   
   }
   
   retry_join {

      leader_api_addr   = "https://{{var_group.node_03_fqdn}}:8200"
   
   }

}

## Azure seal configuration stanzas
seal "azurekeyvault" {
  tenant_id      = "{{ secret.tenant_id }}"
  client_id      = "{{ secret.client_id }}"
  client_secret  = "{{ secret.client_secret }}"
  vault_name     = "{{ secret.vault_name }}"
  key_name       = "{{ secret.key_name }}"
}

cluster_addr            = "https://{{var_group.node_03_fqdn}}:8201"
api_addr                = "https://{{var_group.hashicorp_cluster_name_fqdn}}:8200"
max_lease_ttl           = "10h"
default_lease_ttl       = "10h"
cluster_name            = "{{var_group.hashicorp_cluster_name}}"
raw_storage_endpoint    = true
disable_sealwrap        = true
disable_printable_check = true